body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  opacity:0;
}
#u163 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:206px;
}
#u164 {
  position:absolute;
  left:77px;
  top:105px;
  width:206px;
  height:206px;
}
#u165 {
  position:absolute;
  left:2px;
  top:95px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u166 {
  position:absolute;
  left:153px;
  top:370px;
  width:55px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:71px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u168 {
  position:absolute;
  left:-11px;
  top:569px;
  width:371px;
  height:71px;
}
#u169 {
  position:absolute;
  left:2px;
  top:28px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u170 {
  position:absolute;
  left:23px;
  top:592px;
  width:26px;
  height:26px;
}
#u171 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u172 {
  position:absolute;
  left:276px;
  top:585px;
  width:40px;
  height:40px;
}
#u173 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
